In [1]:
# imports
import pandas as pd
import seaborn as sns
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense, BatchNormalization
from tensorflow.keras.utils import set_random_seed
set_random_seed(42)
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading dataset
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# converting the categorical target feature into a numerical one
df['species'] = df['species'].map({'setosa':0, 'versicolor':1, 'virginica':2})

In [4]:
# creating X & y; converting a vector of integers (y) into a one-hot-encoded vector
X = df.drop(['species'], axis=1)
y = to_categorical(y=df['species'], num_classes=3)

In [5]:
# splitting the data into training & testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
# scaling the data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [7]:
# defining an MLP architecture
model = Sequential()
model.add(Dense(8, activation='relu', input_dim=4))
model.add(BatchNormalization())
model.add(Dense(4, activation='relu'))
model.add(BatchNormalization())
model.add(Dense(3, activation='softmax'))

In [8]:
# model compilation
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [9]:
# model training
history = model.fit(X_train, y_train, batch_size=50, epochs=500, validation_data=(X_test, y_test), verbose=0)

In [10]:
# model evaluation
score = model.evaluate(X_test, y_test, verbose=0)
print('Loss:', round((score[0] * 100), 2))
print('Accuracy:', round((score[1] * 100), 2))

Loss: 3.91
Accuracy: 100.0